@font-face {
  font-family: "Muli";
  src: url("../styles/fonts/webfont-extrabold_c458_34.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Muli";
  src: url("../styles/fonts/webfont-bold_39b6_35.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Muli";
  src: url("../styles/fonts/webfont_e35f_36.ttf") format("truetype");
  font-weight: normal;
}